
/*#imgLogin {
    content: url('');
}*/


#formLogin {
    /*width: 90%;*/
    margin: 100px auto;
    border: 1px solid #eb94d0;
    box-shadow: gray 5px 5px;
    /*padding-bottom: 20px;*/
    padding: 20px;
}

#btnIngresar {
    background: #eb94d0;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Consolas;
    color: #fafafa;
    font-size: 20px;
    padding: 19px;
    text-decoration: none;
    padding: 10px 25px;
    margin-top: 10px;
    /*background-color: blue;

    border: none;
    color: white;
    ;*/
}

    #btnIngresar:hover {
        background: #2079b0;
        background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
        background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
        background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
        background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
        background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
        text-decoration: none;
    }

.center {
    justify-content: center
}

table {
    margin: auto;
}

.padre {
    /*background-color: #fafafa;*/
   /* margin: auto;
    padding: 2rem;*/
    /*border: 2px solid #ccc;*/
    /* IMPORTANTE */
    text-align: center;
    justify-content: center
}
/*/**/ /**/ /**/
/*/**/ /**/ /**/
/*/**/ /**/ /**/
/*/**/ /**/ /**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #FBF8F1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Consolas;
    font-size: 18px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25vmin;
    line-height: 20vmin;
}

.gradient-text {
    color: transparent;
    background: conic-gradient( #D9D7F1 12%, #BAABDA 12%, #BAABDA 33%, #E7FBBE 33%, #E7FBBE 55%, #FFCBCB 55%, #FFCBCB 70%, #B5DEFF 70%, #B5DEFF 87%, #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: expand-rev 0.5s ease forwards;
    cursor: pointer;
}

    .gradient-text:hover {
        animation: expand 0.5s ease forwards;
    }

@keyframes expand {
    0% {
        background-size: 50%;
        background-position: 0 0;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 325%;
        background-position: -10em -4em;
    }
}

@keyframes expand-rev {
    0% {
        background-size: 325%;
        background-position: -10em -4em;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 50%;
        background-position: 0 0;
    }
}

/*////////////////////////////////////////////////*/
